@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    No1 Whitehall Riverside<br />
    Leeds, LS1 4BN, UK <br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Mohamed.Adam@fdmgroup.com">Mohamed.Adam@fdmgroup.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Mohamed.Adam@fdmgroup.com">Mohamed.Adam@fdmgroup.com</a>
</address>